<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/style.css" />

    {% match metadata.title -%}
        {% when Some with (val) -%}
	    <title>{{ val }}</title>
	{% when None -%}
	    <title>Default title</title>
    {% endmatch -%}

    <meta name="description" content="{{metadata.description}}">
</head>

<body>
    <p>Header here plz</p>
    <div class="content">
	    {% block content %}{% endblock %}
    </div>
</body>

</html>
